.loginCard label {
    margin-top: 10px;
    font-size: 9pt;
}
.loginCard input {
    border: 1px solid grey;
    padding: 12px;
    margin-top: 2px;
    border-radius: 3px;
}
.loginCard button:hover {
    background-color: #ff7b8f;
}
.loginCard button {
    margin-top: 10px;
    padding: 12px;
    border-radius: 3px;
    border: none;
    background-color: #ff4863;
    color: white;
    cursor: pointer;
}
.loginCard {
    display: flex;
    flex-direction: column;
    justify-content: end;
    max-width: 350px;
    margin: auto;
    background-color: white;
    height: 400px;
    padding: 25px;
    border-radius: 3px;
    transform: translateY(25%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

